.action-modal {
  animation: displayModal 0.5s ease-out;
}

@keyframes displayModal {
  0% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
